@-moz-document domain("newsru.com") {
body{
  background-image:none !important;
}
table[width="770"]{
  	width:1000px !important;
  	margin:auto;
}
table[width="770"]>tbody>tr>td[width="525"]{
	width:100% !important;
}
#stakan, table[width="770"]>tbody>tr>td[width="240"],table[width="770"]>tbody>tr>td[width="5"], .down, table[style="width:770px; height:60px"], table[style="width:770px; height:24px; background-color:#006a29; margin-bottom: 0px"], td[bgcolor="#0016a6"], div[style="padding-top: 5px;"], td[valign="bottom"], td[width="150"],div.subblock, div[style="padding: 0px 0px 40px 0px;"], div[style="width:770px;background-color:#c8d8e8"], table[width="770"]>tbody>tr>td>[width="655"], noindex, table[style="height:60px; background: #0016A6 url(http://static.newsru.com/img/r_sha/fon_main.gif) no-repeat right"], iframe, table[width="770"]>tbody>tr>td[bgcolor="#3b5998"]{
	display:none !important;
	opacity:0 !important;
	width:0px !important;
	height:0px !important;
}
}
