@-moz-document domain("vk.com") {
#audio_friends, #footer_wrap, #group_narrow, #im_rcemoji_cont, #im_sound_controls, #im_user_holder, #page_header, #profile_info, #profile_narrow, #profile_photos_module, #public_help_steps_module, #public_short, #side_bar, #stl_bg, #stl_left,#stl_left.over, #stl_side, .dialogs_photo, .emoji_smile_icon, .emoji_smile_icon_on, .group_info, .im_log_author, .im_log_rspacer, .post_image, .published_by_photo, .reply_image, .result_list_shadow {
	display:none !important;
	opacity:0 !important;
	width:0px !important;
	height:0px !important;
}



#wrap2, #wrap1 {
	border: none !important;
}



#page_layout, ul.t0, #friends #main_class table, #page_body, #group_wide, #profile_wide, #im_nav_wrap, #im_controls_wrap, .post_info, .wall_text, .wall_post_text, .post_media, .media_desc, .page_media_thumbed_link, .page_media_link_title, .page_media_link_desc, .page_media_link_desc_wrap, .reply_info, .reply_text, .wall_reply_text, .im_in, .im_msg_text, .im_out, .wrapped {
	margin:auto !important;
}



#page_layout, ul.t0, #friends #main_class table, .post_info, .wall_text, .wall_post_text, .post_media, /*.media_desc,*/ .page_media_thumbed_link, .page_media_link_title, .page_media_link_desc, .page_media_link_desc_wrap, .reply_info, .reply_text, .wall_reply_text, .im_in, .im_msg_text, .im_out, .wrapped, #im_write_form, #im_texts, .im_txt_wrap, #audio.new .area, #ac .shadow, #ac .shadow div, #photos_choose_upload_area, #photos_choose_upload_area_cont.photos_choose_upload_area_cont, .photos_choose_upload_area, #album_title, #album_description, .photo_edit_caption, .scroll_fix, .docs_item, .audio_edit_row, .audio_edit_input input, .audio_edit_input input, .audio_edit_input textarea, .selector_container.dropdown_container, #audio.new .audio_search .s_search, div.fw_post_info{
	width:100% !important;
}


#page_body, #group_wide, #profile_wide, #im_nav_wrap, #im_controls_wrap, .audio_fixed_nav #ac, #video_upload_description, #video_upload_title, #video_external_link, #docs_title_text, .tdd_wrap, .results_container, #album_name_wrap input {
	width:98% !important
}



.im_editable, #audio.new .audio_table .audio, .fw_reply_text  {
  width: 96% !important;
}



#audio.new .audio .info, #audio.new .audio .title_wrap, .wall_module #submit_post_box textarea, .app_info {
  width: 90% !important;
}



#friends .main_panel, #audio .main_panel, .dev_page_cont,  .popup_box_container, #photos_choose_upload_area_cont.photos_choose_upload_area_cont.fixed, .video_search #v_search, .photo_edit_data, .app_search .s_search, .tdd_wrap.tdd_search, #apps_search>div.fl_l, .audio_edit_input, .result_list.result_list_scrollable, #album_name_input.fl_l, #audio_search .fl_l:first-child, #choose_audio .audio_content {
  width: 80% !important;
}



#ac .info, .photos_edit_data {
	width: 60% !important;
}



#friends .side_panel, #audio_wrap .side_panel {
  width: 20% !important;
}



.post_info, .wall_text, .wall_post_text, .post_media, .media_desc, .page_media_thumbed_link, .page_media_link_title, .page_media_link_desc, .page_media_link_desc_wrap, .reply_info, .reply_text, .wall_reply_text, .im_in, .im_msg_text, .im_out, .wrapped, #audio.new .audio .title_wrap {
	overflow: visible !important;
	word-wrap: break-word !important;
}



.im_log_act, .im_log_check_wrap{
	width:25px !important;
}
div#im_nav_wrap {
	top:0px !important;
}

#friends .user_block {
	padding: 0px 0px !important;
}
.docs_add_new {
  width:160px !important;
}
#pv_comments_data {
  width: 610px !important;
}

#audio.new .audio .title_wrap {
  padding: 10px 0 9px !important;
}

#audio.new .audio .title_wrap b, .wide_wall_module .wall_post_text, .wall_module .reply_text, .wide_wall_module .reply_text {
	max-width:9999px !important;
}
/*
.wide_wall_module .post{
	height:20px !important;
}
div.wall_text{
	display:none !important;
	opacity:0 !important;
	width:0px !important;
	height:0px !important;
}
img{
	display:none !important;
}
*/
}
