@-moz-document domain("bash.org.ru"), domain("bash.im") {
#header, #stats, #xsite-nav, #menubar .submenu .options, #menubar .submenu .title, #footer, #menubar>div>div>iframe, .quote>div>iframe, div[id^='yandex_'] {
	display:none !important;
	opacity:0 !important;
	width:0px !important;
	height:0px !important;
}
#menubar>div, .quote>div {
	width: auto !important;
	height: auto !important;
}

#body{
	width:90% !important;
}
div#search input#text {
	width:80% !important;
}

div#comics div#navi {
	margin: auto !important;
}
div#comics img#cm_strip {
	width: 100% !important;
}
*, div.quote div.text {
  font-family: Segoe UI;
}
}
